<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Projects</title>
    </head>
    <body>
		<h3>Info about me</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Cras eu diam quam. Nulla quis placerat tortor. Aliquam aliquam, 
			metus ac finibus suscipit, quam erat vulputate risus, eget egestas 
			urna risus quis justo. Donec feugiat vehicula tortor, blandit 
			congue tortor finibus ac. Maecenas lectus risus, ultrices in 
			tincidunt in, suscipit vel tortor. Donec sit amet ante elit. 
			Nullam convallis consequat est vel suscipit.
		</p>
    </body>
</html>