body {
	text-align:center;
}
#green {
	background: green;
	color:white; 
	width: 200px;
	height:200px;
	margin:20px auto;
	line-height:100px;
}

#red {
	background: red;
	color:white; 
	width: 200px;
	height:200px;
	margin:20px auto;
	line-height:200px;
}