<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Amadon Checkout</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'first_app/style.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<h1>Thank your for your business!</h1>
	<p>We have charged your credit card for ______.</p>
	<p>You have ordered __ items so far and spent _______ with Amadon.com!</p>
	<a href="#">Go back</a>
</body>
</html>