<html>
		<head>
		   <title>Dojo Survey</title>
		</head>
		<body>
		  <form action='/results' method='post'>
			  <p>Name: <input type='text' name='name'></p>
			  <p>Dojo Location: <select name="location">
				<option>San Jose</option>
				<option>San Mateo</option>
				<option>San Francisco</option>
			  </select></p>
			  <p>Favorite Language: <select name="language">
				  <option>Python</option>
				  <option>Javascript</option>
				  <option>C++</option>
			  </select></p>
			  <p>Comment: <input type='textarea' name='comment'></p>
			  <input type='submit' value='Button'>
		  </form>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
					<p>{{message}}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</body>
	</html>